<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<style>
			@media print {
				.no-print {
					display: none !important;
				}
			}
		</style>
	</head>
	<body>
		<div class="no-print">
			<button onclick="window.print()">Print</button>
		</div>
		<div class="print-content">
			{{ content|raw }}
		</div>
	</body>
</html>
